<!DOCTYPE html>
<html>
<head>
  <title>BanderSnatch</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  style
    include style.css
</head>
<body>
  <h1>BanderSnatch</h1>
  <p>Please select your choices:</p>
  <div id="game-container">
    h2= game
      <ol>
        each val in thechoice.choice
          li.choice= val
      </ol>
  </div>
  <div id="reason-container" style="display: none;">
      <ol>
        each val in thechoice.reason
          li.reason= val
      </ol>
  </div>
  script
    include script.js
</body>

</html>
