<!DOCTYPE html>
<html>
<head>
  <title>BanderSnatch</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  style
    include style.css
</head>
<body>

  <h1>BanderSnatch</h1>
  p= scene.line

  <p>Please select your scenario:</p>
  <div id="scenario-container">
    <ol>
      each val in scene.scenarios
        li.scenariolist= val
    </ol>
  </div>

  <button id="startgame" style="display: none;">Click OK to play</button>

  script
    include script.js
</body>

</html>
